.tab {
  @apply flex gap-4 overflow-hidden text-gray-300;

  .tablinks {
    @apply border-none outline-none cursor-pointer px-2 py-1;
  }

  /* FIX: does not workd like this */
  /* .active {
    @apply border border-green-1  text-gray-1;
  } */
  .active {
    border-bottom: 1px solid #b8d442;
    color: #4b4b4b;
  }
}
.tabcontent {
  @apply hidden first:block text-gray-1 p-4;
}
