.card {
  @apply flex flex-col relative w-1/4 border-gray-300 border;
}

.card__content {
  @apply p-10 pb-14;
}

img.card__image {
}

h3.card__header {
  @apply text-2xl text-gray-2 mb-4;
}

p.card__description {
  @apply font-thin text-gray-2;
}

span.card__link {
  @apply absolute inline-block bg-green-1 text-white bottom-3 right-0 p-2;
}
