@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yfseh6');
  src:  url('fonts/icomoon.eot?yfseh6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yfseh6') format('truetype'),
    url('fonts/icomoon.woff?yfseh6') format('woff'),
    url('fonts/icomoon.svg?yfseh6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e986";
}
