.box {
  @apply h-96;
}

h3.box__title {
  @apply font-thin text-4xl text-gray-1 uppercase text-left mb-8;
}

p.box__description {
  @apply font-thin text-base text-gray-1 mb-16 w-2/3;
}

img.box__background {
  @apply object-cover;
}
