.rating {
  @apply flex flex-col py-8 px-6 text-gray-1 border border-gray-400 rounded-sm shadow-sm;

  &__stars {
    @apply flex gap-1 self-end;
  }

  &__heading {
    @apply text-lg mb-4;
  }

  &__more {
    @apply block;
  }
}
