.textbox {
  @apply flex flex-col items-center w-90% sm:w-3/4 mx-auto;

  h2,
  p {
    @apply w-full text-justify;
  }

  h2 {
    @apply text-gray-2 text-xl mb-4;
  }

  p {
    @apply text-gray-2 font-thin mb-6;
  }
}
