.immo-card {
  @apply flex flex-col border border-gray-400  items-start w-auto;

  &__image {
    @apply h-auto;

    img {
      @apply max-h-full max-w-full object-contain;
    }
  }

  &__body {
    @apply h-1/2 px-6 py-6 relative;
  }

  &__header {
    @apply font-bold text-gray-1 mt-6 mb-3  text-xl;
  }

  &__description {
    @apply font-thin text-base my-6 w-3/4;
  }

  &__link {
    @apply inline-block bg-green-1 text-white  p-2 cursor-pointer absolute right-0 bottom-1/4;
  }

  &__items {
    @apply flex items-start gap-x-10 my-6;

    img {
      @apply w-6 h-6;
    }

    span {
      @apply inline-block text-xs;
    }
  }
}
