.hintbox {
  @apply bg-gray-1 text-white py-10 px-6 w-1/3 relative;

  &__heading {
    @apply text-xl;
  }

  &__text {
  }

  &::after {
    content: "";
    background-color: #4b4b4b;
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 0;
    left: 1.5rem;
    transform: translateY(95%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
}
