.heading {
  @apply text-3xl text-gray-2 font-thin text-center py-4 relative;

  &::after {
    @apply block content h-px w-20 bg-gray-2 absolute top-full left-1/2 transform -translate-x-1/2;
  }
}

.heading-main {
  @apply text-3xl text-gray-50 font-thin text-center py-4 relative uppercase;

  &::after {
    @apply block content h-px w-3/4 bg-gray-50 absolute top-full left-1/2 transform -translate-x-1/2;
  }
}

.heading--2 {
  @apply uppercase text-4xl text-gray-100 text-center relative pb-4;

  &::after {
    @apply block content h-px w-40 bg-gray-100 absolute top-full left-1/2 transform -translate-x-1/2;
  }
}

.heading--3 {
  @apply uppercase text-4xl text-gray-1 relative pb-4;

  &::after {
    @apply block content h-px w-36 bg-gray-1 absolute top-full left-0;
  }
}
