.select {
  @apply relative flex justify-between items-center;

  select {
    @apply w-full border-0 appearance-none border-none shadow-none px-10;
  }

  i.custom-arrow {
    @apply text-green-1 absolute right-2 top-1/2 transform -translate-y-1/2 pointer-events-none text-lg;
  }
}
